*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
 }
 .navbar{
    height: 60px;
    background-color: #0f1111;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
 }
 .navlogo{
    height: 50px;
    width: 114px;
 }
 .logo{
    height: 50px;
    width:114px;
    margin: 1px;
    padding:10px 8px 0px 6px;
    background-image: url(image/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    box-sizing: border-box;
 }
 .boder{
   border: 2px solid transparent;
 }
 .boder:hover{
   border: 1.5px solid white;
 }
 .location{
   height: 50px;
   width:88.64px;
   margin: 5px 2px 5px 0px;
   padding: 0px 9px;
   box-sizing: border-box;
   
 }
 .add-first{
   width:52.64px;
   height: 14px;
   font-size: 0.75em;
   color:#CCCCCC;
   margin-left: 15px;
 }
 .add-second{
   width: 52.64px;
   height: 16px;
   font-size: 1em;
   color:#FFFFFF;
   padding: 0px 0px 1px 5px;
 }
 .add-icon{
   display: flex;
   align-items: center;
 }.nav-search{
   width: 64%;
   height: 60px;
   color:#0f1111;
   padding: 10px 4px 10px 3px;
   
   display: flex;
   align-items: center;
   flex: grow 1068px;;
   
 }
 /* .nav-search:hover{
   height: 25px;;
    border:2px solid rgba(255,153,0,1);
 } */
 .select{
   width:51.6px;
   height:40px;
   padding: 0px 0px 0px 5px;
   background-color: #E6E6E6;
   border-top-left-radius: 3px;
   border-bottom-left-radius: 3px;
   border: none;

 }
 .search-box{
   width: 100%;
   height: 40px;
   box-sizing: border-box;
   padding: 7px 10px 10px 0px;
   border: none;
   
 }
 .go{
   width: 45px;
   height:40px;
   background-color:rgba(255,153,0,1);
   font-size: 1.3em;
   display: flex;
   justify-content: center;
   align-items: center;  
   border-top-right-radius: 3px;
   border-bottom-right-radius: 3px;
   border: none;
   color: #0f1111;
}
.go:hover{
   background-color: rgba(255,153,3,0.9);
}
.signin{
  
  margin: 0px 1px;
  padding: 0px 4px 8px 9px;
}
span{
  color:#FFFFFF;
  font-size: 0.8rem;
}
.nav-second{
  color:#FFFFFF;
  font-size: 1rem;
  font-weight: 700;
  padding:0px 1px 0px 1px;
  display: flex;
}
.returns{
  height: 50px;
  padding: 0px 9px 10px;
}
.nav-cart i{
  font-size: 30px;
}
.nav-cart{
  font-size: 0.85rem;
  font-weight: 700;
}
.panel{
  height: 40px;
  background-color: #222f3d;
  display: flex;
  color:white;
  align-items: center;
}
.panel-ops p{
  display: inline;
  margin-left: 10px;
  
}
.panel-all{
  width:60px;
  margin-left: 15px;
}
.panel-ops{
  width:940px;
  font-size: 0.85rem;
  margin-left: 20px;;
}

/* Hero section */

.hero-section{
  height: 350px;
  background-image: url(image/hero_image.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items:flex-end;
}
.hero-msg{
  height:40px;
  width: 90%;
  background-color:white;
  text-align: center;
  font-size: 0.85rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.hero-msg a{
  text-decoration: none;
  color:#2162a1;
}

/* content area */

.shop-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #d2f4ce;
}
.box{
  height: 350px;
  width: 23%;
  margin-top: 10px;
  background-color: white;
  /* border: 2px solid black; */
  padding: 20px 0px 15px;
 }

.box-img{
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.content-box{
  margin-left:1rem;
  margin-right: 1rem;
}
.box p{
  color:#2162a1;
}
footer{
  margin-top: 10px;
}
.foot-panel1{
  background-color: #37475a;
  color:white;
  height:40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.85rem;
}
.foot-panel2{
  background-color: #222f3d;
  color: white;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
}

ul a{
  display: block;
  font-size: 0.85rem;
  margin-top: 8px;
  color:#DDDDDD;
}
.foot-panel3{
  border-top: 0.5px solid white;
  height:60px;
  background-color: #222f3d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foot-panel4{
  background-color: #0f1111;
  color:#DDDDDD;
  font-size: 0.85rem;

}
.panel4-first{
  display: flex;
  justify-content: center;
}
.panel4-first p{
  margin-left: 20px;
}
.panel4-second{
  display: flex;
  justify-content: center;
}